$card-content-padding: 1.5rem;
$card-home-min: 12rem;
$card-research-min: 22rem;
$card-paper-min: 13rem;

@mixin card($color) {
    &:after {
        content: '';
        position: absolute;
        top: -0.6rem;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 0.35rem solid $color;
    }
}

.card {
   /* max-width: 90%;*/
    margin: 0 5%;
    color: $main-gray;
    .card-content {
        padding: $card-content-padding;
        /*padding: 0.7rem 1rem 1.5rem;*/
        .card-content__bottom {
            margin-top: 0.7rem;
        }
    }
}

.link-span { 
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}


@mixin card-research($m) {
    @include card($dark-blue);
    .card-image {
        border-bottom: 1px solid $lightest-gray;
    }
    .research-tag, .research-page-name {
        font-weight: 700;
        color: $dark-blue;
    }
    .home-name, .research-page-date {
        margin-top: $m;
        font-size: $subtext-size;
    }
    .research-page-date {
        color: $dark-blue;
    }
}

.card-home-research--image {
    @include card-research(0.5rem);
}

.card-home-research--text {
    @include card-research(1rem);
    min-height: $card-home-min;
}

.card-research--image {
    @include card-research(0.5rem);
}

.card-research--text {
    @include card-research(1rem);
    min-height: $card-research-min;
}

.card-paper {
    @include card($clay-gray);
    min-height: $card-paper-min;

    .year {
        font-weight: 700;
        color: $clay-gray;
    }
    .authors {
        color: $clay-gray;
        position: absolute;
        bottom: 1.5rem;
        width: 100%;
        .author {
            display: inline-block;
            margin-right: 0.5rem;
        }
    }
}


.card-home-person {
    @include card($purp);
    display: flex;
    padding: $card-content-padding;

    .card-image {
        width: 35%;
    }

    .card-content {
        padding: 0 0 0 1rem;
        width: 65%;
        .name {
            font-weight: 700;
            color: $black;
        }
        
        .phd-tag {
            font-size: $subtext-size;
            color: $purp;
            font-weight: 500;
            line-height: 0.8;
        }
    }
}

@mixin card-person($color) {
    @include card($color);
    display: flex;
    padding: $card-content-padding;

    .card-image {
        width: 35%;
    }

    .card-content {
        padding: 0 0 0 1.5rem;
        width: 65%;
        .name {
            font-weight: 700;
            color: $black;
        }
        
        .tag {
            font-size: $subtext-size;
            color: $color;
            font-weight: 500;
            line-height: 0.8;
        }

        .card-content__bottom {
            margin-top: 1.3rem;
            line-height: 1.75;
            .email {
                text-decoration: underline;
            }
        }
    }
}

.card-student {
    @include card-person($purp);
}
.card-faculty {
    @include card-person($bright-blue);
}
.card-alum {
    @include card-person($dark-blue);
}

.card-home-news {
    @include card($main-gray);
    display: flex !important;
    width: 40vw !important;
    padding: $card-content-padding $card-content-padding $card-content-padding 0;
    /*padding: $card-content-padding;*/
    margin: 1rem 3rem;

    .card-image {
        width: 40%;
        margin-left: -1rem;
    }
    .home-news-card-content {
        margin: 0 1rem;
        width: 60%;
        display: flex;
        flex-flow: column nowrap;
        .headline {
            font-weight: 700;
            color: $main-gray;
            font-size: 1.3rem;
        }
        
        .card-content__bottom {
            line-height: 0px;
            margin-top: auto;
            padding-bottom: 10px;
            .date, .more {
                display: inline-block;
                font-size: $subtext-size;
            }
            .date {
                color: $black;
            }
            .more {
                float: right;
                text-decoration: underline;
            }
        }
    }
}

