#getinvolved-page {
    .waves-hero {
        padding: 3rem 0 2rem;
    }
     .section-inner {
        padding: 2rem 0 5rem;
    }
    .involvement {
        margin-bottom: 3rem;
        p {
            margin: 1rem 0;
        }
        a {
            text-decoration: underline;
        }
    }
}