
#home {
    .hero {
        height: 100vh;
        background-color: $clay-blue;
        .tagline {
            font-family: $family-secondary;
            font-weight: bold;
            color: $white;
            font-size: 3.5rem;
        }
        .underline {
            width: 2rem;
        }
        .tagline-description {
            color: $white;
        }
        .underline {
            width: 7rem;
            margin: 0rem 0 2rem;
        }
        .hero__inner {
            display: flex;
            flex-direction: row;
            margin-bottom: 5rem;
            .hero__left {
                width: percentage(2/3);
                margin-top: 10rem;
                padding-right: 5rem;
            }
            .hero__right {
                width: percentage(1/3);
            }
            .hero-img {
                margin: 0 auto;
                max-width: 90%;
            }
        } 
    }

    .section-inner {
        margin: 2rem 0 5rem;
    }

    .home-upcoming {
        background: $white;
    }

}




