#home {
    .hero {
        height: 100vh;
        background-color: $clay-blue;
        .tagline {
           @include callout-text($white, 3.5rem);
        }
    
        .tagline-description {
            color: $white;
        }
        .underline--yellow {
            width: 7rem;
            margin: 0rem 0 2rem;
        }
        .hero__inner {
            display: flex;
            flex-direction: row;
            margin-bottom: 5rem;
            .hero__left {
                width: percentage(2/3);
                margin-top: 10rem;
                padding-right: 5rem;
            }
            .hero__right {
                width: percentage(1/3);
            }
            .hero-img {
                margin: 0 auto;
                max-width: 90%;
            }
        } 
    }

    .section-inner {
        padding: 2rem 0 5rem;
    }

    @mixin info-layout {
        display: flex;
        flex-direction: row;
        .section__left {
            width: 35%;
            .upcoming-title {
                @include callout-text($clay-blue, 3rem);
            }
            .underline--clayblue {
                width: 6rem;
                margin: 0rem 0 2rem;
            }
            .button {
                margin-top: 2rem;
                i {
                    margin-left: 3rem;
                }
            }
        }
        .section__right {
            width: 65%;
        }
    }

    .home-upcoming {
        background: $white;
        .section-inner {
            @include info-layout;
            .section__right {
                .event {
                    @include event($main-gray);
                    border-left: 1px solid $main-gray;
                    padding: 0 2rem;
                    .event__date {
                        margin-bottom: 0.8rem;
                    }
                    .event__title {
                        margin-bottom: 1.5rem;
                    }
                    .event__description {
                        margin-bottom: 3rem;
                    }
                }
            }
        }
    }


    .home-getinvolved {
        background: $white;
        .section-inner {
            align-items: center;
            @include info-layout;
            .section__right {
                padding: 0 3rem;
                .text {
                    vertical-align: middle;
                    line-height: 1.8;
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .text-more {
        float: right;
        font-weight: bold;
        color: $clay-blue;
        text-decoration: none;
        i {
            margin-left: 0.5rem;
        }

    }
    .home-news {
        .carousel-control {
            display: flex;
            align-items:center;/*Vertical align*/
            justify-content:center;
            margin-top: 2rem;
            button {
                background: none;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                margin: 0 2.5rem;
            }
            i {
                color: $clay-blue;
              
            }
        }
    }


}




