@charset "utf-8";

@import "globals.scss";
@import "mixins.scss";
@import "cards.scss";
@import "index.scss";
@import "research.scss";

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem; /* 16px */
}


.nav {
  .logo {
    max-width: 100px;
  }
  font-family: $kollektif;
  color: $main-gray;
  background-color: $white;
  font-size: 0.8rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  .fa-angle-down {
    color: $mustard;
    padding-left: 5px;
  }
  .nav__link {
    margin-left: 1rem;
  }
}

.footer {
  background: $clay-blue;
  color: $bg-gray;
  a {
    color: $bg-gray;
  }
  .footer-cornell {
    padding-top: 1.5rem;
    display: flex;
    .logo {
      max-width: 80px;
    }
    .footer-cornell-name {
      margin-left: 2rem;
      .lab-name {
        @include callout-text($bg-gray, 1.2rem);
      }
    }
  }
  .contact-info i, .contact-info p {
    display: inline-block;
  }
  .category, .contact-info i {
    color: $light-blue;
  }
  .contact-info {
    margin: 1rem 0;
  }
  .category {
    font-weight: 700;
  }
  .tricol {
    align-items: flex-start;
    margin: 3.5rem 0rem 1rem;
    &:nth-of-type(2) {
      border-left: 1px solid $light-blue;
      border-right: 1px solid $light-blue;
    } 
    &:nth-of-type(2), &:nth-of-type(3) {
      padding-left: 2rem;
    } 
  }
  .links-col {
    display: flex;
    flex-direction: column;
    a {
      margin: 0.5rem 0;
    }
  }
  .email {
    text-decoration: underline;
  }
  .copyright {
    color: $light-blue;
    padding-bottom: 1.1rem;
  }
}

.underline--yellow {
  @include underline($mustard);
}

.underline--clayblue {
  @include underline($clay-blue);
}


.section-title {
  font-family: $kollektif;
  font-size: $section-title-size;
  text-decoration: underline;
  text-decoration-color: $mustard;
}

.divider {
  border-top: 1px solid $light-gray;
}

.button {
  border-radius: 1px !important;
  font-weight: 700;
}


/*@import "bulma-0.9.0/bulma.sass";*/
@import "bulma-0.9.0/sass/utilities/_all.sass";
@import "bulma-0.9.0/sass/base/_all.sass";
@import "bulma-0.9.0/sass/components/level.sass";
@import "bulma-0.9.0/sass/components/tabs.sass";
@import "bulma-0.9.0/sass/components/dropdown.sass";
@import "bulma-0.9.0/sass/components/card.sass";
@import "bulma-0.9.0/sass/elements/box.sass";
@import "bulma-0.9.0/sass/elements/button.sass";
@import "bulma-0.9.0/sass/elements/container.sass";
@import "bulma-0.9.0/sass/elements/icon.sass";
@import "bulma-0.9.0/sass/elements/image.sass";
@import "bulma-0.9.0/sass/elements/title.sass";
@import "bulma-0.9.0/sass/grid/_all.sass";
@import "bulma-0.9.0/sass/helpers/_all.sass";
@import "bulma-0.9.0/sass/layout/hero.sass";
@import "bulma-0.9.0/sass/layout/section.sass";
