@mixin callout-text($color, $size) {
    font-family: $family-secondary;
    font-weight: bold;
    color: $color;
    font-size: $size;
}

@mixin underline($color) {
  height: 10px;
  background: $color;
}

@mixin event($title-color) {
    .event__date {
        font-family: $kollektif;
        text-transform: uppercase;
        font-weight: bold;
        color: $mustard;
    }
    .event__title {
        font-family: $family-secondary;
        text-decoration: underline;
        font-weight: bold;
        color: $title-color;
        font-size: 1.5rem;
    }
    .event__description, .event__location {
        font-weight: 400;
    }
}

@mixin dropdown($width) {
    .dropdown-trigger button {
        background: none;
        color: $main-gray;
        font-weight: 400;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: $bg-gray $bg-gray $clay-blue $bg-gray;
        width: $width;
        justify-content: left;
        display: inline-block;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        span:first-of-type {
            float: left;
        }
        span.icon {
            float: right;
        }
    }
    .dropdown-content {
        width: $width;
    }
}

@mixin details($width) {
    width: $width;
    
    .detail__group {
        border-bottom: 0.5px solid $clay-blue;
        padding-bottom: 1rem;

        &:not(:first-of-type) {
            padding-top: 0.6rem;
        }
        a {
            text-decoration: underline;
        }
    }          
}

/*https://github.com/jgthms/bulma/issues/1677*/
$mobile-md: 568px !default;
$mobile-lg: 600px;
$tablet-md: 850px;

@mixin mobile-sm {
  @media screen and (max-width: $mobile-md - 1), print {
    @content;
  }
}

@mixin mobile-lg {
  @media screen and (min-width: $mobile-lg), print {
    @content;
  }
}


@mixin tablet-md {
  @media screen and (min-width: $tablet-md), print {
    @content;
  }
}



