#research-single-page {
  .hero-content {
    background: $white;
    padding: 2rem 1.5rem;
    .hero__inner {
      display: flex;
      justify-content: space-between;
      .hero__left {
        width: percentage(2/3);
        padding-top: 3rem;
        padding-right: 5rem;
        @include until($tablet-md) {
          padding-right: 0;
          .page-title {
            font-size: 1.2rem !important;
          }
        }
        margin: auto 0;

        .page-title {
          font-family: $family-primary;
          color: $clay-blue;
          font-size: 1.6rem;
          margin-bottom: 0.75rem;
        }
        .underline--yellow {
          width: 5rem;
          margin: 0 0 1rem;
        }

        .page-tag {
          color: $dark-blue;
          font-weight: bold;
        }
      }
      .hero__right {
        display: flex;
        justify-content: flex-end;
        width: percentage(1/3);
        margin: auto 0;
        .image {
          max-width: 60%;
        }
        @include until($tablet-md) {
          .image {
            max-width: 80%;
          }
        }
      }
    }
  }
  .research-single-content {
    .section-inner {
      padding: 4rem 0;
    }
    .research-single-about {
      display: flex;

      @include until($tablet-md) {
        display: flex;
        flex-direction: column;
        .about__left,
        .about__right {
          width: 100% !important;
        }
        .research-description,
        .details {
          width: 100% !important;
        }
      }

      .about__left {
        width: percentage(2/3);
        margin-right: 3rem;
        .research-text {
          margin-bottom: 2rem;
        }
      }

      .about__right {
        width: percentage(1/3);
        .details {
          @include details(20rem);
          float: right;
          .detail__type {
            color: $dark-blue;
            font-weight: bold;
          }
        }
      }
    }
  }
}
