#researchsingle-page {
    background: $clay-blue;
    .hero-content {
        padding: 2rem 1.5rem;
        .hero__inner {
            display: flex;
            justify-content: space-between;
            .hero__left {
                padding-top: 3rem;
                margin: auto 0;
                
                .page-title {
                    font-family: $family-primary;
                    color: $clay-blue;
                    font-size: 2rem;
                  }
                  .underline--yellow {
                    width: 100%;
                    margin: 0 0 1rem;
                }

                
                .page-tag {
                    color: $main-gray;
                }
            }
            .hero__right {
                max-width: 40%;
            }
        }
        
    }   
}